@font-face {
    font-family: "SUITE";
    font-style: normal;
    font-weight: 400;
    src: local("SUITE"),
      url(./SUITE-Regular.woff2) format("woff2");
  }
   
  @font-face {
    font-family: "SUITE";
    font-style: bold;
    font-weight: 700;
    src: local("SUITE"),
      url(./SUITE-Bold.woff2) format("woff2");
  }