.foot {
    font-family: 'SUITE';
    border: none;
    background-color: #DFE2DC;
    text-align: center;
    width: 100%;
    height: 50px;
}

.gitHub{
    text-decoration-line : none;
}

.gitHub:link {
    color: blue;
}

.gitHub:visited {
    color: blue;
}

.our {
    
    margin-bottom: 0;
}