.test {
    font-family: 'SUITE';
}

body {
    background-color: greenyellow;
}

.bb{
  background-color: white;
    width: 40%;
    height: 400px;
    align-items: center;
    display: flex;
    flex: auto;
    margin: 30px;
    padding: 10px;
    flex-direction: column;
    
}